*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-width: 800px;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  pointer-events: none;
}

.page__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 116px;
}

.page__heading-item {
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.page__heading-item_last::after {
  content: "*";
}

.page__heading:hover::before {
  position: absolute;
  padding: 36px 44px;
  top: 165px;
  left: 878px;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 0 16px black;
  border-radius: 20px;
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  white-space: pre;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
